<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
</head>
<body>
已上传文件：
<table width="100%" cellpadding="0" cellspacing="0" border="1">
    <tr>
        <th>序号</th>
        <th>文件名</th>
        <th>文件大小</th>
        <th>操作</th>
    </tr>
    <tr>
        <th>${myOptionalVar.foo[0].count}</th>
        <th>myOptionalVar.foo[0].getName</th>
        <th>myOptionalVar.foo[0].length</th>
        <th><a href="/download">下载</a></th>
    </tr>
</table>
</body>
</html>